<div *ngIf="backToHomePopUp">
  <div class="bg-bg opacity-90 z-10 absolute w-full h-full"></div>
  <div class="absolute bg-bg z-20 top-10 left-0 right-0 ml-auto mr-auto w-fit animate-pop_up">
    <h2 class="font-bold text-lg text-center">Zurück zur Startseite?</h2>
    <div class="flex justify-center">
      <div class="button !mx-2" (click)="setBackToHomePopUp(false)">abbrechen</div>
      <div class="button !mx-2" (click)="goBackToHome()">
        OK
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <p (click)="setBackToHomePopUp(true)" class="mt-10 text-2xl tablet:text-2xl laptop:text-3xl desktop:text-3xl font-bold inline-block cursor-pointer text-center text-primary">
    🍞 Lehrlingswettbewerb-Tester
  </p>
</div>