<h2 class="text-xl text-center font-bold p-2">
  <span class="text-primary italic">{{ questionAnswer.question.questionID }}</span>
  {{ questionAnswer.question.question }}
</h2>

<div
  class="text-base w-9/12 m-auto p-3 border-primary-transparent border mt-2 rounded-md transition-colors relative"
  *ngFor="let answer of questionAnswer.question.answers; let i = index"
  [attr.data-index]="i"
  [ngClass]="
    questionAnswer.answer == i
      ? questionAnswer.answer == questionAnswer.question.correct
        ? 'correct'
        : 'wrong'
      : questionAnswer.answer !== undefined && i == questionAnswer.question.correct
      ? 'correct'
      : questionAnswer.answer === undefined ? '' : 'opacity-50'
  "
>
  {{ answer }}
  <span class="material-icons text-correct absolute -right-10" *ngIf="questionAnswer.answer == i && questionAnswer.answer == questionAnswer.question.correct">check</span>
  <span class="material-icons text-wrong absolute -right-10" *ngIf="questionAnswer.answer == i && questionAnswer.answer != questionAnswer.question.correct">clear</span>
</div>